

















 







<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>K리그 경기 일정/결과 | 다음스포츠</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="date" content="2015-11-05 00:09:39" />
    <meta name="keywords" content="넘버원, 다음스포츠!" />
    <meta property="og:site_name" content="다음스포츠">
    <meta property="og:title" content="K리그 경기 일정/결과">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" href="//i1.daumcdn.net/img-media/2010ci/Daum_favicon.ico" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="//t1.daumcdn.net/cssjs/icon/535624A20262460004" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="//t1.daumcdn.net/cssjs/icon/5356248C024DF90001" />
	
                    <link rel="stylesheet" href="http://s1.daumcdn.net/svc/original/U03/cssjs/media/scp/planus/20150904235147/sportsdb.m.min.css" />
        
<script>document.domain="daum.net";</script>
<script src="//m1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.9.1.min.js"></script>
<script src="//m1.daumcdn.net/svc/original/U03/cssjs/scp/underscore.min.js"></script>
<script src="//m1.daumcdn.net/svc/original/U03/cssjs/media/scp/planus/20131119163249/planus.backbone.min.js"></script>
<script src="http://s1.daumcdn.net/svc/original/U03/cssjs/scp/iscroll5.min.js"></script>
<script src="//s1.daumcdn.net/svc/original/U03/cssjs/slide/slide-1.2.12.standalone.min.js"></script>

        <script src="http://s1.daumcdn.net/svc/original/U03/cssjs/media/scp/planus/20150904203232/sportsdb.m.min.js"></script>
<script>
    window.todayMoment = moment(1446649779862);
    window.THUMBNAIL_VER = "20151001";    
</script>

</head>
<body>
<div style="position:absolute;left:0px;top:0px;z-index:10;width:1px;height:1px;" onclick="return false;"></div>
<div id="daumAd">
    <div class="box_loading">
        <div class="inner_loading">
            <span class="img_loading"></span>
            <span class="txt_loading">광고 로딩 중</span>
        </div>
    </div>
</div>

<div id="daumWrap">
<header id="daumHead">
    <div class="d_head #gnb1">
	<div class="inner_head">
		<div class="wrap_tit">
			<h1 class="tit_daum">
				<a href="http://m.daum.net/" id="daumLogo" class="link_daum #logo"><img src="http://m2.daumcdn.net/svc/image/U03/common_icon/52E1CEEA0379830003" width="40" height="16" alt="Daum"></a>
				<a href="http://m.sports.media.daum.net/m/sports/" id="daumServiceLogo" class="tit_service link_service #sports"><span class="ir_wa">스포츠</span></a>
			</h1>
			
							<strong class="screen_out">관련 서비스</strong>
				<a href="http://m.live.sports.media.daum.net/video" class="link_relate #live">영상센터</a>
                <a href="http://m.sports.media.daum.net/m/sports/worldsoccer/3min/" class="link_relate">3분축구</a>
									</div>
					<div class="wrap_util"><!-- 레이어 펼침 : layer_on 클래스 추가 -->
				<a href="http://mtop.search.daum.net/" id="link_search" class="link_search #search"><span class="img_g ico_search">통합검색</span></a>
				<a href="#none" id="btn_navigation" class="link_all #gnb1 #more #btn">
					<span class="ico_dot"></span>
					<span class="ico_dot"></span>
					<span class="ico_dot"></span>
					<span class="txt_label">관련 서비스 펼치기</span>
				</a>
			</div>
			<div id="daumNavigationLayer" class="service_layer hide #more">
				<ul class="list_service">
					<li><a href="http://m.media.daum.net/" class="link_webapp #news"><span class="txt_webapp">뉴스</span></a></li>
					<li><a href="http://m.media.daum.net/m/entertain/" class="link_webapp #entertain"><span class="txt_webapp">연예</span></a></li>
					<li>
						<a id="web2app" class="link_webapp #daumapp" role="application" href="http://m.daum.net/" onclick="return false;" data-search-keyword="다음앱" data-app-id="1"
						   data-app-scheme="daumapps://open"
						   data-app-intent="intent://open#Intent;scheme=daumapps;package=net.daum.android.daum;end"
						   data-appstore-url="itms-apps://itunes.apple.com/us/app/da-eum-daum/id365494029"
						   data-googleplay-url="market://details?id=net.daum.android.daum">
							<img src="http://m2.daumcdn.net/svc/image/U03/common_icon/52F4B7060268330004" width="29" height="29" class="img_webapp" alt="다음앱">
							<span class="txt_webapp">다음앱</span>
							<em class="img_g ico_app"></em>
						</a>
					</li>
				</ul>
				<a href="http://m.daum.net/site.daum?t__nil_header=sitemap" class="link_sitemap #sitemap">전체서비스<span class="img_g ico_arr"></span></a>
				<a id="daumNavigationHideBtn" href="#none" class="screen_out">관련 서비스 접기</a>
			</div>
			</div>
</div>

    
		
		
		








































<nav id="daumGnb" class="depth_on" role="navigation">
	<h2 class="screen_out">스포츠메뉴</h2>
	<div class="slide_scroll slide_gnb">
		<div class="inner_scroll" style="left:0"><!-- 스크롤시 left값이 변경됩니다 -->
			<ul class="list_scroll gnb_sports">
				<li class="gnb_w1" data-item="home"><a href="http://m.sports.media.daum.net/m/sports/" class="link_gnb #home">홈</a></li>
				<li class="gnb_w2 on" data-item="soccer"><a href="http://m.sports.media.daum.net/m/sports/soccer/" class="link_gnb #soccer">축구</a></li>
				<li class="gnb_w3" data-item="worldsoccer"><a href="http://m.sports.media.daum.net/m/sports/worldsoccer/" class="link_gnb #worldsoccer">해외축구</a></li>
				<li class="gnb_w4" data-item="baseball"><a href="http://m.sports.media.daum.net/m/sports/baseball/" class="link_gnb #baseball">야구</a></li>
				<li class="gnb_w5" data-item="worldbaseball"><a href="http://m.sports.media.daum.net/m/sports/worldbaseball/" class="link_gnb #worldbaseball">해외야구</a></li>
				<li class="gnb_w6" data-item="golf"><a href="http://m.sports.media.daum.net/m/sports/golf/" class="link_gnb #golf">골프</a></li>
				<li class="gnb_w7" data-item="basketvolley"><a href="http://m.sports.media.daum.net/m/sports/basketvolley/" class="link_gnb #basketvolley">농구/배구</a></li>
				<li class="gnb_w8" data-item="general"><a href="http://m.sports.media.daum.net/m/sports/general/" class="link_gnb #general">일반</a></li>
				<li class="gnb_w9" data-item="column"><a href="http://m.sports.media.daum.net/m/sports/column/" class="link_gnb #column">칼럼/카툰</a></li>
				<li class="gnb_w10" data-item="livescore"><a href="http://m.score.sports.media.daum.net/livescore/main.daum" class="link_gnb #livescore">중계/스코어</a></li>
			</ul><!-- li와 li사이 여백이 생기지 않게 -->
		</div>
	</div>

			<h3 class="screen_out"> 하위메뉴</h3>
<div class="wrap_lnb">
	<ul class="lnb_sports #gnb3">
					<li class="on"><a href="http://m.sports.media.daum.net/m/sports/soccer/news/breaking/" class="link_lnb"><span class="lnb_menu">뉴스</span></a></li>
										<li class="video "><a href="http://m.live.sports.media.daum.net/video/kl" class="link_lnb" target="_blank"><span class="lnb_menu">영상</span></a></li>
						<li class="schedule "><a href="http://m.score.sports.media.daum.net/schedule/soccer/kl/main.daum" class="link_lnb"><span class="lnb_menu">일정/결과</span></a></li>
							<li class="record "><a href="http://m.score.sports.media.daum.net/record/soccer/kl/trnk.daum" class="link_lnb"><span class="lnb_menu">기록/순위</span></a></li>
						<li class="netizen "><a href="http://m.sports.media.daum.net/m/sports/soccer/netizen/poll/" class="link_lnb"><span class="lnb_menu">네티즌</span></a></li>
									</ul>
</div>



	</nav>

<script>
;(function(){
	var gnbObj = jQuery(".gnb_sports");
	var currentGnbObj = gnbObj.find("li.on");

	jQuery(document).ready(function(){
		var gnbWidth = gnbObj.width();
		var viewportWidth = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName('body')[0].clientWidth;
		var posX = 0;
		if((viewportWidth < gnbWidth) && currentGnbObj.position().left > (viewportWidth / 2)) {
			var minLeftPos = viewportWidth - gnbWidth;
			var selectedGnbPos = ((currentGnbObj.position().left + (currentGnbObj.width() / 2)) * -1) + (viewportWidth / 2);
			posX = Math.max(minLeftPos, selectedGnbPos);
		}
		setTimeout(function(){
			new IScroll(".slide_gnb", {scrollX: true, scrollY: false, click: false, mouseWheel: true, eventPassthrough: true}).scrollTo(posX, 0);
		}, 200);
	});
})();
</script>        <script>onMobileLNB('schedule')</script>
    </header>
<hr class="hide">
<article id="daumContent"  class="cont_schedule"  role="main">

<h2 class="screen_out">일정결과</h2>
<div class="section_schedule">
    
    



    <div class="tab_schedule tab_schedule_open">
        <ul class="list_tab tab_type3">
                        <li class="on"><a href="../kl/main.daum" class="link_cont">K리그 클래식</a></li>
            <li ><a href="../kl2/main.daum" class="link_cont">K리그 챌린지</a></li>
            <li ><a href="../kfa/main.daum" class="link_cont">국가대표팀</a></li>
            <li ><a href="../afccl/main.daum" class="link_cont">AFC 챔스</a></li>
            <li><span class="link_cont"></span></li>
            <li><span class="link_cont"></span></li>
        </ul>
        <button class="btn_fold"><span class="ico_comm">펼치기/접기</span></button>
    </div>
    <script>schedule.tabSoccer()</script>


    <h3 class="screen_out">K리그 일정/결과</h3>

    





<div class="time_choice" 
    data-default-navi="week" 
    data-today="20151105" 
    data-selday="20151005" 
    data-league="kl">
    <div class="wrap_time">
        <div class="date-string"></div>
        <button type="button" class="btn_g btn_prev"><span class="ico_comm">이전</span></button>
        <button type="button" class="btn_g btn_next"><span class="ico_comm">다음</span></button>
    </div>
        <div class="wrap_more wrap_btn_sort">
            <div class="btn_sort">
                <select class="btn_g opt_select week" title="주별 선택">
                    <option value="day">일별</option>
                    <option value="week">주별</option>
                    <option value="month">월별</option>
                </select>
                <span class="ico_comm ico_arr"></span>
            </div>
            <div class="btn_sort">
                <select class="btn_g opt_select team" title="팀별 선택">
                    <option value="">팀별</option>
                </select>
                <span class="ico_comm ico_arr"></span>
            </div>
        </div>
</div>
    <h4 class="tit_schedule">
        <span class="tit">전체 일정/결과</span>
                    </h4>

    





        












                                                                                                                                                                                                                                                                                                <strong class="box_g time_day" style="display:none">10월 04일 (일)</strong>
    <div class="wrap_livescore date_20151004">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">포항</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K03_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="포항 팀로고"> 포항</span>
                    <span class="num_score  num_win">2</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K06_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="부산 팀로고"> 부산</span>
                    <span class="num_score  ">0</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71029378' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71029378&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">포항 :</span> <span class="txt_info">고무열(3분),김승대(76분)</span></span>
                                </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                <div class="wrap_livescore date_20151004">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">광주월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K22_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="광주 팀로고"> 광주</span>
                    <span class="num_score  ">2</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K02_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="수원 팀로고"> 수원</span>
                    <span class="num_score  num_win">4</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71029379' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71029379&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">광주 :</span> <span class="txt_info">송승민(45+1분),임선영(61분)</span></span>
                                    <span class="info_type2"><span class="txt_team">수원 :</span> <span class="txt_info">산토스(8분.18분.71분),양상민(51분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                <div class="wrap_livescore date_20151004">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">제주월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K04_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="제주 팀로고"> 제주</span>
                    <span class="num_score  num_win">3</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K05_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="전북 팀로고"> 전북</span>
                    <span class="num_score  ">2</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71029380' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71029380&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">제주 :</span> <span class="txt_info">김상원(1분.16분),로페즈(88분)</span></span>
                                    <span class="info_type2"><span class="txt_team">전북 :</span> <span class="txt_info">이근호(59분.70분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                <div class="wrap_livescore date_20151004">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">서울월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K09_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="서울 팀로고"> 서울</span>
                    <span class="num_score  num_win">3</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K07_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="전남 팀로고"> 전남</span>
                    <span class="num_score  ">2</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71029381' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71029381&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">서울 :</span> <span class="txt_info">오스마르(55분),윤주태(68분),아드리아노(88분)</span></span>
                                    <span class="info_type2"><span class="txt_team">전남 :</span> <span class="txt_info">이종호(33분.86분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                <div class="wrap_livescore date_20151004">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">탄천</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K08_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="성남 팀로고"> 성남</span>
                    <span class="num_score  num_win">1</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K18_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="인천 팀로고"> 인천</span>
                    <span class="num_score  ">0</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71029382' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71029382&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">성남 :</span> <span class="txt_info">황의조(82분)</span></span>
                                </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                    <div class="wrap_livescore date_20151004">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">대전월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K10_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="대전 팀로고"> 대전</span>
                    <span class="num_score  ">0</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K01_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="울산 팀로고"> 울산</span>
                    <span class="num_score  ">0</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71029383' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71029383&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                    <strong class="box_g time_day" style="display:none">10월 17일 (토)</strong>
    <div class="wrap_livescore date_20151017">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">부산</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K06_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="부산 팀로고"> 부산</span>
                    <span class="num_score  ">0</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K22_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="광주 팀로고"> 광주</span>
                    <span class="num_score  num_win">1</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038658' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038658&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                                    <span class="info_type2"><span class="txt_team">광주 :</span> <span class="txt_info">송승민(42분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                <div class="wrap_livescore date_20151017">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        15:00</span>
                                        <span class="txt_place">전주월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K05_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="전북 팀로고"> 전북</span>
                    <span class="num_score  ">0</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K03_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="포항 팀로고"> 포항</span>
                    <span class="num_score  num_win">1</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038659' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038659&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                                    <span class="info_type2"><span class="txt_team">포항 :</span> <span class="txt_info">신진호(90+3분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                    <div class="wrap_livescore date_20151017">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        16:00</span>
                                        <span class="txt_place">인천</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K18_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="인천 팀로고"> 인천</span>
                    <span class="num_score  ">2</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K01_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="울산 팀로고"> 울산</span>
                    <span class="num_score  ">2</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038660' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038660&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">인천 :</span> <span class="txt_info">박세직(17분),진성욱(80분)</span></span>
                                    <span class="info_type2"><span class="txt_team">울산 :</span> <span class="txt_info">정동호(55분),김신욱(78분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                    <strong class="box_g time_day" style="display:none">10월 18일 (일)</strong>
    <div class="wrap_livescore date_20151018">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">대전월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K10_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="대전 팀로고"> 대전</span>
                    <span class="num_score  num_win">1</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K07_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="전남 팀로고"> 전남</span>
                    <span class="num_score  ">0</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038661' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038661&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">대전 :</span> <span class="txt_info">김태봉(82분)</span></span>
                                </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                <div class="wrap_livescore date_20151018">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">수원월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K02_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="수원 팀로고"> 수원</span>
                    <span class="num_score  ">0</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K04_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="제주 팀로고"> 제주</span>
                    <span class="num_score  num_win">1</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038662' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038662&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                                    <span class="info_type2"><span class="txt_team">제주 :</span> <span class="txt_info">오반석(40분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                <div class="wrap_livescore date_20151018">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        16:00</span>
                                        <span class="txt_place">탄천</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K08_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="성남 팀로고"> 성남</span>
                    <span class="num_score  ">1</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K09_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="서울 팀로고"> 서울</span>
                    <span class="num_score  num_win">2</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038663' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038663&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">성남 :</span> <span class="txt_info">김성준(1분)</span></span>
                                    <span class="info_type2"><span class="txt_team">서울 :</span> <span class="txt_info">고요한(86분),아드리아노(90+1분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                    <strong class="box_g time_day" style="display:none">10월 24일 (토)</strong>
    <div class="wrap_livescore date_20151024">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">대전월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K10_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="대전 팀로고"> 대전</span>
                    <span class="num_score  num_win">2</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K06_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="부산 팀로고"> 부산</span>
                    <span class="num_score  ">1</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038664' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038664&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">대전 :</span> <span class="txt_info">서명원(61분.65분)</span></span>
                                    <span class="info_type2"><span class="txt_team">부산 :</span> <span class="txt_info">한지호(26분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                <div class="wrap_livescore date_20151024">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">포항</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K03_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="포항 팀로고"> 포항</span>
                    <span class="num_score  num_win">2</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K04_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="제주 팀로고"> 제주</span>
                    <span class="num_score  ">1</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038665' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038665&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">포항 :</span> <span class="txt_info">김태수(14분),손준호(33분)</span></span>
                                    <span class="info_type2"><span class="txt_team">제주 :</span> <span class="txt_info">서동현(19분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                    <div class="wrap_livescore date_20151024">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        16:00</span>
                                        <span class="txt_place">탄천</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K08_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="성남 팀로고"> 성남</span>
                    <span class="num_score  ">0</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K02_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="수원 팀로고"> 수원</span>
                    <span class="num_score  ">0</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038666' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038666&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                                    <strong class="box_g time_day" style="display:none">10월 25일 (일)</strong>
    <div class="wrap_livescore date_20151025">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        14:00</span>
                                        <span class="txt_place">광양축구</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K07_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="전남 팀로고"> 전남</span>
                    <span class="num_score  ">2</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K01_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="울산 팀로고"> 울산</span>
                    <span class="num_score  num_win">5</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038667' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038667&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    <div class="game_result">
                        <span class="info_type2"><span class="txt_team">전남 :</span> <span class="txt_info">스테보(34분),최효진(80분)</span></span>
                                    <span class="info_type2"><span class="txt_team">울산 :</span> <span class="txt_info">이영재(4분),김신욱(41분),코바(62분.68분.90+3분)</span></span>
                    </div>
                
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                    <div class="wrap_livescore date_20151025">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        16:00</span>
                                        <span class="txt_place">서울월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K09_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="서울 팀로고"> 서울</span>
                    <span class="num_score  ">0</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K05_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="전북 팀로고"> 전북</span>
                    <span class="num_score  ">0</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038668' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038668&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    
    </div>
</div> <!--//wrap_livescore -->                                                                                                                                                                                                                                                                                    <div class="wrap_livescore date_20151025">
    <div class="box_g">
        <div class="game_score">
            <span class="link_cont">
                <span class="info_state">
                                                            <span class="txt_time">
                        16:00</span>
                                        <span class="txt_place">광주월드컵</span>
                    <span class="txt_state">종료</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K22_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="광주 팀로고"> 광주</span>
                    <span class="num_score  ">0</span>
                </span>
                <span class="info_game">
                    <span class="txt_team"><img src="http://i1.daumcdn.net/img-section/sports13/logo/team/kl/K18_120120.png?v=20151001" width="20" height="20" class="img_logo" alt="인천 팀로고"> 인천</span>
                    <span class="num_score  ">0</span>
                </span>
                            </span>
        </div>
		            <div class="wrap_btn"> 
                
                <a href='http://m.live.sports.media.daum.net/video/kl/p:71038669' target='_blank' class='btn_g btn_highlight'>하이라이트</a>
                <a href='http://m.live.sports.media.daum.net/cast/soccer/relay?game_id=71038669&casttype=result' target='_blank' class='btn_g'>경기기록</a>
            </div>
		                    
    </div>
</div> <!--//wrap_livescore -->    
<div class="box_empty hide">
    <span class="ico_comm ico_empty"></span>
    경기가 없습니다.
</div></div>

<script>schedule.decoration();</script>


<!-- 실시간이슈 컴포넌트가 들어갈 요소 -->
<div id="hottrendsContainer"></div>
<div class="direct_link #directlink" id="mediaDirectLink">
	<div class="d_isu">
		<ul class="tab_issue #tab @op">
			<li class="on" id="0"><a href="#none" class="link_tab @1" idx="0">뉴스</a></li>
			<li id="1"><a href="#none" class="link_tab @2" idx="1">스포츠</a></li>
			<li id="2"><a href="#none" class="link_tab @3" idx="2">연예</a></li>
		</ul>
		<strong class="screen_out">주요메뉴 바로가기 링크</strong>
		<div id="mediaDirectLinkList">
			<ul class="list_link #news @op">
				<li class="fst"><a href="/m/media/" class="link_menu @1">뉴스 홈</a></li>
				<li><a href="/m/media/mainnews/" class="link_menu @2">주요</a></li>
				<li><a href="/m/media/issue/" class="link_menu @3">이슈</a></li>
				<li class="fst"><a href="/m/media/hotnews/rankingnews/" class="link_menu @4">랭킹뉴스</a></li>
				<li><a href="/m/media/tv/" class="link_menu @5">TV</a></li>
				<li><a href="/m/media/society/" class="link_menu @6">사회</a></li>
				<li class="fst"><a href="/m/media/politics/" class="link_menu @7">정치</a></li>
				<li><a href="/m/media/economic/" class="link_menu @8">경제</a></li>
				<li><a href="/m/media/digital/" class="link_menu @9">IT</a></li>
				<li class="fst"><a href="/m/media/culture/" class="link_menu @10">문화</a></li>
				<li><a href="/m/media/world/" class="link_menu @11">국제</a></li>
				<li><a href="http://storyfunding.daum.net/" class="link_menu @12">스토리펀딩</a></li>
			</ul>
			<ul class="list_link #sports @op">
				<li class="fst"><a href="http://m.sports.media.daum.net/m/sports/" class="link_menu @1">스포츠 홈</a></li>
				<li><a href="http://m.sports.media.daum.net/m/sports/soccer/" class="link_menu @2">축구</a></li>
				<li><a href="http://m.sports.media.daum.net/m/sports/worldsoccer/" class="link_menu @3">해외축구</a></li>
				<li class="fst"><a href="http://m.sports.media.daum.net/m/sports/baseball/" class="link_menu @4">야구</a></li>
				<li><a href="http://m.sports.media.daum.net/m/sports/worldbaseball/" class="link_menu @5">해외야구</a></li>
				<li><a href="http://m.sports.media.daum.net/m/sports/golf/" class="link_menu @6">골프</a></li>
				<li class="fst"><a href="http://m.sports.media.daum.net/m/sports/basketvolley/" class="link_menu @7">농구/배구</a></li>
				<li><a href="http://m.sports.media.daum.net/m/sports/general/" class="link_menu @8">일반</a></li>
				<li><a href="http://m.live.sports.media.daum.net/video" class="link_menu @9">영상센터</a></li>
				<li class="fst"><a href="http://m.sports.media.daum.net/m/sports/worldsoccer/3min/" class="link_menu @10">3분축구</a></li>
				<li><a href="http://m.score.sports.media.daum.net/livescore/main.daum" class="link_menu @11">중계/스코어</a></li>
				<li><a href="http://m.sports.media.daum.net/m/sports/column/" class="link_menu @12">칼럼/카툰</a></li>
			</ul>
			<ul class="list_link #enter @op">
				<li class="fst"><a href="/m/entertain/" class="link_menu @1">연예 홈</a></li>
				<li><a href="/m/entertain/enews/breaking/" class="link_menu @2">최신뉴스</a></li>
				<li><a href="/m/entertain/enews/hot/" class="link_menu @3">인기뉴스</a></li>
				<li class="fst"><a href="/m/entertain/issue/" class="link_menu @4">1boon</a></li>
				<li><a href="/m/entertain/enews/breaking/culture/" class="link_menu @5">가요영화</a></li>
				<li><a href="/m/entertain/enews/breaking/abroad/" class="link_menu @6">해외뉴스</a></li>
				<li class="fst"><a href="/m/entertain/photo/" class="link_menu @7">포토</a></li>
				<li><a href="/m/entertain/tvnow/" class="link_menu @8">TV명장면</a></li>
				<li><a href="/m/entertain/pick/poll/" class="link_menu @9">투표</a></li>
				<li class="fst"><a href="/m/entertain/pick/editor/" class="link_menu @10">에디터's 픽</a></li>
	            <li><a href="/m/entertain/pick/series/" class="link_menu @11">시리즈</a></li>
				<li><a href="/m/entertain/tvnow/my/" class="link_menu @12">MY 프로그램</a></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
(function() {
    var func = (function ($) {

        function convertDomToObjectForSimpleSlide(dom, domSize) {
            var group = [];
            var domList = $(dom).children() || [];
            for (var idx = 0; idx < domList.length; idx++) {
                var dom = domList[idx];
                var subGroupIdx = Math.floor(idx / domSize);
                if (!group[subGroupIdx]) group[subGroupIdx] = [];
                var subGroup = group[subGroupIdx];

                subGroup.push({
                    dom: dom,
                    html: dom.outerHTML
                });
            }
            return group;
        };

        var data = convertDomToObjectForSimpleSlide("#mediaDirectLinkList", 1);

        var tabIndex = 1;

        var SimpleSlide = namespace("SimpleSlide");
        SimpleSlide({
            "framewrap": $("#mediaDirectLinkList"),
            "template": _.template('<% for(var i = 0 , len = obj.length ; i < len ; i++){%><%=obj[i].html%><% } %>'),
            "data": data,
            "options": {
                "index": tabIndex,
                "type": "infinity",
                "duration": 500
            },
            "callback": function (d) {
                $('#mediaDirectLink .tab_issue li').removeClass('on');
                $('#mediaDirectLink .tab_issue #' + d.idx).addClass('on');
            }
        });

        // tab
        $('#mediaDirectLink .tab_issue a').click(function (e) {
            e.preventDefault();
            var nextIdx = parseInt($(this).attr('idx'));
            var SimpleSlide = namespace("SimpleSlide");
            SimpleSlide({
                "framewrap": $("#mediaDirectLinkList"),
                "template": _.template('<% for(var i = 0 , len = obj.length ; i < len ; i++){%><%=obj[i].html%><% } %>'),
                "data": data,
                "options": {
                    "index": nextIdx,
                    "type": "infinity",
                    "duration": 500
                },
                "callback": function (d) {
                    $('#mediaDirectLink .tab_issue li').removeClass('on');
                    $('#mediaDirectLink .tab_issue #' + d.idx).addClass('on');
                }
            });

        });
    });

    if (Object.prototype.toString.call( window.command ) === '[object Array]') {
        window.command.push(func);
    } else {
        func(jQuery);
    }
})();
</script>
</article>
<hr class="hide">

<script src="http://m1.daumcdn.net/svc/original/U03/cssjs/coco/coco-1.0.25.min.js"></script>
<script src="http://m1.daumcdn.net/svc/original/U03/cssjs/suggest/suggest-1.3.16.min.js"></script>
<!--[if lte IE 8]>
<script src="http://m1.daumcdn.net/svc/original/U0301/cssjs/JSON-js/fc535e9cc8/json2.min.js"></script>
<![endif]-->
<script src="http://s1.daumcdn.net/svc/original/U03/cssjs/scp/hottrends.min.js"></script>
<script src="http://m1.daumcdn.net/svc/original/U03/cssjs/socialshare/socialshare-1.7.5.min.js"></script>
<div id="footContent" class="foot_content #footer" lang="ko" data-isdaumapp="false"></div>
<div id="daumFoot" class="d_foot #footer" role="contentinfo"><!-- 고객센터, 회원정보 (실시간이슈/아담/웹투앱 요소가 빠진 푸터) 클래스 : type_basic 추가 -->
	<ul class="list_foot">
		<li><a href="http://m.daum.net/?t__nil_footer=daum" class="#daum">Daum</a></li>
		<li id="daumMinidaum" class="#logout"></li>
							
			<!-- 모바일만 있는 이벤트일 경우 pc의 일반으로 이동 -->
						<!-- 월드컵 프리의 경우 일단 하드코딩으로 해결 -->
						
			<li><a href="http://sports.media.daum.net/sports/common/footer" id="m2p" class="#pc">PC화면</a></li>
				<li><a href="http://m.daum.net/site.daum?t__nil_footer=sitemap" class="#sitemap">전체보기</a></li>
	</ul>
	<small class="copr_info">
		<span class="info_policy">
			<a href="http://media.daum.net/info/edit.html" class="link_policy"> 편집원칙</a>&nbsp;&nbsp;&nbsp;&nbsp;기사배열 책임자 : 임선영
		</span>
		<a href="http://m.kakaocorp.com/" class="link_daumcorp">ⓒ Kakao Corp.</a>
	</small>
</div>

 <!-- 2014-03-24 수정 -->
<div id="daumTotalSearchLayer" class="wrap_schall hide"><!-- 숨김처리 : hide 클래스 추가 -->
	<div class="d_schall">
		<form action="http://m.search.daum.net/search" id="daumTotalSearchForm" class="inner_schall" name="daumTotalSearchForm" role="search">
			<fieldset>
				<legend class="screen_out">통합 검색어 입력폼</legend>
				<div class="box_search"><!-- 검색어가 있을경우 : write_on 클래스 추가 -->
					<input type="hidden" name="nil_profile" value="section">
					<input type="hidden" name="rtupcate" value="">
					<input type="search" id="query_totalsearch" class="tf_keyword" value="" name="q" title="검색어 입력" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="통합검색">
					<button id="btn_reset_totalsearch" type="button" class="btn_sch btn_reset"><span class="img_g ico_del">검색어 지우기</span></button>
					<button type="submit" id="btn_search_totalsearch" class="btn_sch btn_search"><span class="img_g ico_search">검색</span></button>
					<button type="button" id="btn_close_totalsearch" class="btn_close">취소</button>
				</div>
			</fieldset>
		</form>
	</div>	
	<div id="suggest_layer" class="suggest-layer-holder d_sgt"><div class="suggest_keyword hide" id="list_suggest"></div><div class="latest_keyword hide" id="list_latest"></div></div>
</div>

<script id="CTConfigScript"> var CTConfig = { targetElement: "daumWrap" }; </script>
<script src="//m1.daumcdn.net/svc/original/U03/cssjs/scp/ct.min.js"></script>
        <script src="http://s1.daumcdn.net/svc/original/U03/cssjs/media/scp/planus/2015090418809/sportsdb-footer.m.min.js"></script>
<script src="//go.daum.net/bin/minidaum.cgi?minidaum_mobile=y&js_url=minidaumMobile2011&viewport=320" charset="euc-kr"></script>
<script type="text/javascript" src="http://display.ad.daum.net/imp?slotid=0Qb69"></script>
</div>
</body>
</html>